@tailwind base;
@tailwind components;
@tailwind utilities;

@import "plugins/slick";
@import "plugins/slick-theme";

@font-face {
  font-family: "Akkurat";
  src: url("/Akkurat-Light.woff2") format("woff2"),
    url("/Akkurat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color_main_bg);
  color: var(--color_body_text);
}

.wrapper {
  @apply max-w-6xl mx-4 lg:mx-auto;
}

.section-top-bottom-padding {
  @apply my-10;
}

@for $i from 1 through 10 {
  .col-gap-#{$i} {
    @apply gap-#{$i};
  }
}

@for $i from 1 through 12 {
  .col-count-#{$i} {
    @apply grid-cols-#{$i};
  }

  .col-count-lg-#{$i} {
    @apply lg:grid-cols-#{$i};
  }
}

[x-cloak] {
  display: none !important;
}

@for $i from 1 through 12 {
  .spacing-vertical-#{$i} {
    @apply py-#{$i};
  }

  .spacing-vertical-lg-#{$i} {
    @apply lg:py-#{$i};
  }

  .spacing-horizontal-#{$i} {
    @apply px-#{$i};
  }

  .spacing-horizontal-lg-#{$i} {
    @apply lg:px-#{$i};
  }
}
