<footer class="{{section.id}} bg-slate-300 h-16">
    <nav class="flex space-x-4">
        <a href="#">shop</a>
        <a href="#">about</a>
        <a href="#">shipping & returning</a>
        <a href="#">size guide</a>
        <a href="#">journal</a>
    </nav>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ddd",
            "info": "Footer background color"
        },
        {
            "type": "link_list",
            "id": "primary_menu",
            "label": "Footer Primary Menu"
        },
        {
            "type": "link_list",
            "id": "secondary_menu",
            "label": "Footer Secondary Menu"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "richtext",
            "id": "copyright_text",
            "label": "Copyright Text"
        }
    ]
}
{% endschema %}