<footer class="{{section.id}} bg-slate-300">
    <h1>Footer ff</h1>
    <nav class="flex space-x-4">
        {% for link in section.settings.primary_menu.links %}
            <a class="uppercase {% if link.active %}underline{% endif %}" href="{{link.url}}">{{link.title}}</a>
        {% endfor %}
    </nav>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ddd",
            "info": "Footer background color"
        },
        {
            "type": "link_list",
            "id": "primary_menu",
            "label": "Footer Primary Menu"
        },
        {
            "type": "link_list",
            "id": "secondary_menu",
            "label": "Footer Secondary Menu"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "richtext",
            "id": "copyright_text",
            "label": "Copyright Text"
        }
    ]
}
{% endschema %}