<div class="fixed flex justify-between w-full p-4 md:p-10">
    <div class="md:hidden">
        {% if section.settings.mobile_logo != blank %}
            {% render 'logo' logo: section.settings.mobile_logo, has_logo: section.settings.logo != blank %}
        {% else %}
            {% render 'logo' logo: section.settings.logo, has_logo: section.settings.logo != blank %}
        {% endif %}
    </div>
    <nav class="flex-col hidden space-y-2 md:flex">
        {% for link in section.settings.menu.links %}
        <a class="uppercase {% if link.active %}underline{% endif %}" href="{{link.url}}">{{link.title}}</a>
        {% endfor %}
    </nav>
    <div class="flex items-center space-x-1">
        {% if section.settings.show_cart_button %}
        <button class="flex space-x-2">
            <span class="uppercase">
                {{section.settings.cart_button_label}}
            </span>
            <span class="grid w-6 h-6 text-white rounded-full place-content-center bg-slate-800">1</span>
        </button>
        {% endif %}

        <button class="md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>
</div>


<div class="transform top-1/2 translate-y-[-50%] pl-10 fixed hidden md:block">
    {% render 'logo' logo: section.settings.logo, has_logo: section.settings.logo != blank %}
</div>


{% schema %}
{
    "name": "Navigation",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "image_picker",
            "id": "mobile_logo",
            "label": "Logo for mobile",
            "info": "If you don't want to use the logo on mobile, you can use this logo instead."
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Menu"
        },
        {
            "type": "link_list",
            "id": "mobile-menu",
            "default": "main-menu",
            "label": "Mobile Menu"
        },
        {
            "type": "checkbox",
            "id": "show_cart_button",
            "label": "Show Cart button",
            "default": true
        },
        {
            "type": "text",
            "id": "cart_button_label",
            "label": "Cart button label",
            "default": "cart"
        }
        
    ]
}
{% endschema %}