<div class="grid h-screen grid-cols-12">
    <div class="hidden col-span-4 bg-center bg-cover md:block left-image"></div>
    <div class="col-span-12 bg-center bg-cover md:col-span-8 right-image">
        <div class="flex items-center justify-center h-full ">
            <div class="w-[400px] p-8 bg-yellow">
                <div>
                    <h2 class="text-3xl uppercase md:text-5xl font-Akkurat">{{ section.settings.title }}</h2>
                    <p class="text-sm">{{ section.settings.subtitle }}</p>
                </div>
                <div class="mt-36"></div>
                <div class="grid grid-cols-12">
                    <button class="col-span-4 text-sm font-semibold">Join the club</button>
                    <div class="grid items-center grid-cols-12 col-span-8 ">
                        <label for="email" class="col-span-3">e-mail</label>
                        <input type="text" id="email" class="col-span-9 bg-transparent border-b-2 border-black focus:outline-none">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%- style -%}
.left-image{
    background-image: url({{section.settings.image_left | img_url: "master"}});
}
.right-image{
    background-image: url({{section.settings.image_right | img_url: "master"}});
}
{%- endstyle -%}

{% schema %}
{
   "name": "Comming Soon",
   "settings": [
        {
            "type": "image_picker",
            "id": "image_left",
            "label": "Left Image"
        },
        {
            "type": "image_picker",
            "id": "image_right",
            "label": "Right Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "fred is comming out!"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Responsible luxury made for life's daily rides."
        }
   ]
}
{% endschema %}