@font-face {
  font-family: "Akkurat";
  src: url({{"Akkurat-Light.woff2"|asset_url}}) format("woff2"),
    url({{"Akkurat-Light.woff"|asset_url}}) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
