@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat-Light.woff2') format('woff2'),
        url('Akkurat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

